fastapi[standard]
celery[redis]
pwdlib[argon2]
sqlalchemy[asyncio]
fastapi-mail
pytest-asyncio
asyncpg
aiosqlite
pyjwt
alembic
twilio
stripe
structlog
slowapi
flower
gunicorn
psycopg2-binary