{% extends "base.html" %}
{% block content %}
<h2>Account Deleted</h2>
<p>Hi {{ name }},</p>
<p>Your <strong>{{ app_name }}</strong> account has been permanently deleted as requested. All your data has been removed from our systems.</p>
<p>We're sorry to see you go. If you ever change your mind, you're always welcome to create a new account.</p>
<p style="margin-top:32px; color:#888; font-size:13px;">
  If you didn't request this deletion, please contact our support team immediately.
</p>
{% endblock %}
